@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;600&family=Noto+Sans:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  p {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
  }
  h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 600;

  }
  h2 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
  }
  button {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
  }

}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.glow-none {
  text-shadow: none;
}

  .glow-blue {
    text-shadow: 0 0 px rgba(179, 213, 255, 0.8);
    filter: drop-shadow(0 0 7px rgba(80, 184, 253, 0.8));
  }
